{% extends './base.html' %}

<!--  Title   -->
{% block title %} Contact - Django Todos App {% endblock title%}
{% load static %}

<!--  Content   -->
{% block content %}
<section class="ftco-section">
  <div class="alert-box">
    {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center mb-5 card border-0 d-inline-block">
        <img class="logoBg mx-auto" src="{% static 'images/logo.png' %}" alt="Logo">
      </div>
      <div class="col-md-6 text-center mb-5">
        <h3 class="heading-section">Contact Page</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="contact-wrap w-100">
          <h4 class="mb-4">Send me a message</h4>
          <form method="POST" id="contactForm" name="contactForm" class="contactForm">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Name" />
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" />
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" />
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <textarea name="message" class="form-control" id="message" cols="30" rows="6" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="submit" value="Send Message" class="btn btn-warning" />
                  <div class="submitting"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4  ms-5 d-flex align-items-stretch">
        <div class="info-wrap w-100">
          <h4 class="mb-4">Contact Me</h4>
          <div class="dbox w-100 d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-center">
              <a href="mailto:example@gmail.com">
                <span class="fa fa-envelope"></span>
                sinan.sarykaya@gmail.com
              </a>  
            </div>
          </div>
          <div class="dbox w-100 d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-center">
              <a href="https://github.com/example">
                <span class="fab fa-github"></span>
                @sinansarikaya
              </a>
            </div>
          </div>
          <div class="dbox w-100 d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-center">
              <a href="https://www.linkedin.com/in/example">
                <span class="fab fa-linkedin"></span>
                @sinansarykaya
              </a>
            </div>
          </div>
          <div class="dbox w-100 d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-center">
              <a href="https://www.sinansarikaya.com" target="_blank">
                <span class="fa fa-globe"></span>
                www.sinansarikaya.com
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
