{% extends '../base.html' %}

<!--  Title   -->
{% block title %} Home - Django Todos App {% endblock title %}
{% load static %}

<!--  Content   -->
{% block content %}

<section class="text-center container-fluid">
  <div class="row">
    <div class="mb-5 card border-0 bg-dark d-inline-block">
      <img class="logoBg" src="{% static 'images/logo.png' %}" alt="Logo">
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
      <h1 class="fw-light">Django Todo Application</h1>
      <p class="lead text-body-secondary">
        This is a Todo application built with Django. It allows you to manage your tasks efficiently.
      </p>
      <p>
        <a href="{% url 'create' %}" class="btn btn-warning my-2"
          >Add New Todo</a
        >
      </p>
    </div>
  </div>
</section>
<div class="container-fluid">
  <h4>Todos to be Completed</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">To-Do Name</th>
        <th scope="col">Is Completed?</th>
        <th scope="col">Author</th>
        <th scope="col">Date and Time</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todo_list %}
      {% if not todo.is_completed %}
      <tr>
        <td>{{ todo.title }}</td>
        <td>
          <a class="btn btn-warning" href="{% url 'toggle_completed' todo.id %}" role="button">No</a>
        </td>
        <td>{{ todo.user.first_name }} {{ todo.user.last_name }}</td>
        <td>{{ todo.updated_at|date:'Y-m-d H:i:s' }}</td>
        <td>
          <a class="btn btn-danger" href="{% url 'delete' todo.id %}" role="button">Delete</a>
        </td>
        <td>
          <a class="btn btn-warning" href="{% url 'update' todo.id %}" role="button">Update</a>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <h4 class="mt-5">Completed Todos</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">To-Do Name</th>
        <th scope="col">Is Completed?</th>
        <th scope="col">Author</th>
        <th scope="col">Date and Time</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todo_list %}
        {% if todo.is_completed %}
        <tr>
          <td><del>{{ todo.title }}</del></td>
          <td>
            <a class="btn btn-warning" href="{% url 'toggle_completed' todo.id %}" role="button">Yes</a>
          </td>
          <td>{{ todo.user.first_name }} {{ todo.user.last_name }}</td>
          <td>{{ todo.updated_at|date:'Y-m-d H:i:s' }}</td>
          <td>
            <a class="btn btn-danger" href="{% url 'delete' todo.id %}" role="button">Delete</a>
          </td>
          <td>
            <a class="btn btn-warning" href="{% url 'update' todo.id %}" role="button">Update</a>
          </td>
        </tr>
        {% endif %}
      {% endfor %}
</div>

{% endblock content %}
