{% extends './base.html' %}

<!--  Title   -->
{% block title %} Home - Django Todos App {% endblock title%}

<!--  Content   -->
{% block content %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Album example</h1>
      <p class="lead text-body-secondary">
        Something short and leading about the collection below—its contents, the
        creator, etc. Make it short and sweet, but not too short so folks don’t
        simply skip over it entirely.
      </p>
      <p>
        <a href="{% url 'create' %}" class="btn btn-warning my-2"
          >Main call to action</a
        >
      </p>
    </div>
  </div>
</section>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">To-Do Name</th>
        <th scope="col">Is Finished?</th>
        <th scope="col">Date and Time</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todo_list %}
      <tr>
        <td>{{todo.title}}</td>
        <td><a class="btn btn-warning" href="#" role="button">No</a></td>
        <td>{{todo.created_at}}</td>
        <td>
          <a
            class="btn btn-danger"
            href="{% url 'delete' todo.id %}"
            role="button"
            >Delete</a
          >
        </td>
        <td>
          <a
            class="btn btn-warning"
            href="{% url 'update' todo.id %}"
            role="button"
            >Update</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
