{% extends '../base.html' %}

<!-- Title -->
{% block title %} {{ form.instance.title }} - Todos App {% endblock title %}
{% load static %}
<!-- Content -->
{% block content %}
<div class="container">
  <main>
    <div class="py-5 text-center">
      <div class="mb-5 card border-0 bg-dark d-inline-block">
          <img class="logoBg" src="{% static 'images/logo.png' %}" alt="Logo">
      </div>
      <h2>Update Todo</h2>
      <p class="lead">
        This page allows you to update an existing todo item. Use the form below to modify the details of the todo and save the changes.
      </p>
    </div>

    <div class="row g-5">
      <div class="col-12">
        <h4 class="mb-3">Edit Todo</h4>
        <form class="needs-validation" method="POST">
          {% csrf_token %}
          <div class="row g-3">
            <div class="col-12">
              <label for="title" class="form-label">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                name="title"
                placeholder=""
                value="{{ form.instance.title }}"
                required
              />
            </div>
          </div>
          <div class="col-12 my-3">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" id="content" name="content" rows="3">
{{ form.instance.content }}</textarea>
          </div>
      
        {% if form.instance.is_completed %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="is_completed" name="is_completed" checked>
                <label class="form-check-label" style="cursor: pointer; user-select: none;" for="is_completed">
                    Is Completed?
                </label>
            </div>
        {% else %}
            <div class="form-check pointer">
                <input class="form-check-input" type="checkbox" id="is_completed" name="is_completed">
                <label class="form-check-label" style="cursor: pointer; user-select: none;" for="is_completed">
                    Is Completed?
                </label>
            </div>
        {% endif %}


          <button class="w-100 btn btn-warning btn-lg mt-5" type="submit">
            Update
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock content %}
