.logoBg {
  filter: drop-shadow(10px 15px 0.75rem #eee);
}
.alert-box {
  position: relative;
  right: 0;
  top: 60px;
  height: 60px;
  width: auto;
  overflow: hidden;
}
.alert {
  position: absolute;
  background: rgba(255, 255, 255, 0.43);
  color: #fff;
  right: -100%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.43);
  border-radius: 16px 0 0 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1000;
  transition: right 0.8s ease-in-out;
}
.alert.success {
  background-color: #347534 !important;
}
.alert.error {
  background-color: #d9534f !important;
}
.alert.warning {
  background-color: #ffd700 !important;
  color: #212529;
}
.alert.active {
  right: 0;
}

.alert .fa-xmark {
  align-self: flex-end;
  cursor: pointer;
  color: #7a7b7b;
  font-size: 1.2rem;
  transition: color 0.5s;
}
.alert .fa-xmark:hover {
  color: #181818;
}
